{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "liquid": {
    "indentSize": 2,
    "indentType": "spaces"
  },
  "plugins": ["@shopify/prettier-plugin-liquid"]
}
